@import "settings";
@import "foundation";
@import "font-awesome";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/layout.scss";
 

body {
	height:100% ;
	width:100% ;
}

.empty, .coming_soon {
	color: #ddd;
	font-size: rem-calc(30);
	min-height: 500px;
	width:100%;
	text-align: center;
	line-height: 500px;
}

.cover {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: $primary-color;
	z-index: 9999;
	overflow:hidden;
	@include box-shadow(#ccc 0px 5px 5px 0);

	.cover-content {
		display: block;
		padding:13% 0 !important;
		margin: 0 auto;
		width: 50%;
		height: 70%;


		img {
			width:400px;
			height:auto;
			display: block;
			margin: 0 auto 30px;

		}
		a {
			background: $secondary-color;
			color: $primary-color;
			border-color: $primary-color !important;
			margin:0;
		}
	}
}


.show {

	position:absolute;
	height:30px;
	width:150px;
	left:-60px;
	top:50%;
	background: $primary-color;
	/* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    @include border-top-radius(10px);

	a {


    color: $secondary-color;
    display:block;
    width:150px;
    text-align:center;
	line-height: 30px;

	}
}

a.split {
	font-weight: bolder;
}

.donator_profile {
	vertical-align: center;
	h2 {
		font-size:16px;
		display: inline-block;
	}
	p {
		display:inline-block;
		text-align: center;
		font-size: 18px;

	}

	.donator_stats {
		margin: 10px 0;

		button {
			border: none;
		}
	}
}

.footer {
	background: $primary-color;
	height:$footer-height;
	overflow:hidden;
	
	
	p {
		display:inline-block;
		color:$secondary-color;
		line-height: $footer-height;
	}
	
	.column {
		height: $footer-height;
	}
	.social {

		float: $opposite-direction;
		height: $footer-height;
		
		p {
		display:inline-block;
		color:$secondary-color;
		line-height: $footer-height;
		vertical-align: top;
		}

		li {
			color: $secondary-color;
			font-size: rem-calc(35);
			line-height:$footer-height;
			text-align: center;
			width:100%;

		}

		a {
			width: 50px;
			height:$footer-height;
			margin: 0 5px;
			display:inline-block;
		}
	}
}
	.top-bar {
		li.register {
			height: $topbar-height;
			width:auto;
			padding: $topbar-height/3.8 10px;


			

			a {
				color: $primary-color;
				background: $secondary-color !important;
				height: $topbar-height/2;
				margin: 0;
				padding:0 $topbar-link-padding !important;
				display:block;
				line-height:$topbar-height/2 !important;
				@include border-radius(4px, 4px);
			}

			:hover > a {
				color: $primary-color !important; 
			}
			
		
		}


		.logo {
			

			img {
				height:image-height('logo.png');
				width:image-width('logo.png');
				margin:5px 15px;
			}

		}
	}

	.top-bar-section ul li.register:hover:not(.has-form) > a  { color:$primary-color !important;}

	form {
		button {
			margin: 5px 0 ;
		}
	}

.main_content {
	padding:(25px + $topbar-height) 50px ($footer-height + 25px);
	width:100%;
	min-height:100%;
	margin: ($topbar-height * -1) 0 ($footer-height * -1);

	.tabs-content {
		p {
			text-align: justify;
		}
		
	}
	
	

	.tabs-content .vertical {
		margin-right:5px;
	}

	dl.tabs {
		margin:0;

		.column {
		text-align: center;
		padding:0 !important;
	}
	dd.active  a, dd:hover a {
		color: #fff !important;
	}
}
}


.request_list {
	h1 {
		font-size:20px;
	}
	h2 {
		font-size:16px;
		display: inline-block;
	}
	p {
		display:inline-block;
		text-align: center;
		font-size: 18px;

	}

	.more .more-content {
		float:left;
		padding: 0 10px;


		.more-patient-details, .share-patient-social {
			display: inline-block;
		}

		.share-patient-social {
			a {
				padding: 0 5px;
				font-size: rem-calc(20);

				:hover {
					color: #000;
				}
			}
		}
	}

	.patient {
		background:$panel-bg;
		border: 1px solid $panel-border-color;
		margin: 10px;
		padding: 10px 0;
		@include border-radius(3px);


		.blood_type_circle {
			p {
				@include circle(100px, $primary-color);
				display:block;
				color:$secondary-color;
				text-align:center;
				font-size:rem-calc(30);
				line-height:100px;
				margin: auto;
				    position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

			}
		}
		.due-date {
			
			p {
				@include circle(150px, $primary-color);
				display:block;
				color:$secondary-color;
				text-align:center;
				font-size:rem-calc(30);
				line-height:150px;
				margin: auto;
				    position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

			}
		}
	}
}

.request_content {
	h2 {
		font-size:16px;
		display: inline-block;
	}
	p {
		display:inline-block;
		text-align: center;
		font-size: 18px;

	}
	.main_data {
		margin: 0 0 35px;
	}

	.donator_confirmations {
		

		padding:0 !important;
		.donator_name{
			padding:0;
		h2 {
			padding:23px 0;
			width:100%;
			text-align: center;
			margin: 0 !important;
		}
		}

		.confirmation {
			padding:0;
			text-align:center;
			background:$primary-color;
			a{
			padding:20px 0;
			display:block;
			background: $primary-color;
			color: $secondary-color;
		}
		}
	}

	.more .more-content {
		padding: 0 10px;


		.more-patient-details, .share-patient-social {
			display: inline-block;
		}

		.share-patient-social {
			a {
				padding: 0 5px;
				font-size: rem-calc(20);

				:hover {
					color: #000;
				}
			}
		}
	}

	.due-date {
			
			p {
				@include circle(150px, $primary-color);
				display:block;
				color:$secondary-color;
				text-align:center;
				font-size:rem-calc(30);
				line-height:150px;
				margin: auto;
				    position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

			}
		}
}


@media only screen and (max-width: 64.063em) { 
	.footer {
		height: $footer-height*2;
		text-align: center;
		.social { float:none;}
	}


	} /* min-width 1025px, large screens */

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
