<% title "عن التبرع" %>

      <!-- Articles Navigation Tabs -->
      <dl class="tabs row hor" data-tab>
        <dd class="active column medium-4 large-2 ">
          <a href="#panel2-1">لماذا أتبرع</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-2">شروط التبرع</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-3">الإعداد للتبرع</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-4">مكونات التبرع</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-5">المتبرعين والإعاقة</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-6">الأسئلة الشائعة</a>
        </dd>
      </dl>
      <!-- End of Articles Navigation Tabs -->

      <!-- Articles -->
      <div class="tabs-content hor">
          <div class="content active" id="panel2-1">
            <p> ببساطة لأنك تنقذ حياة شخص من هؤلاء:

            <li>8 من 10 أشخاص يحتاجون نقل الدم أو أحد مكوناته في دورة الحياة.</li>
            <li>1 من 10 أشخاص في المستشفيات يحتاج إلى نقل دم.</li>
            <li>بعض العمليات الجراحية ﻻ تتم بسبب عدم توافر الدم. "تم عمل دراسة على 2000 سيدة منهم 15٪ توفوا لعدم توافر دم أثناء عملية الوﻻدة."</li>
            <li>أكثر من مليون شخص يعانون من السرطان يحتاجون نقل دم بشكل يومي بسبب العلاج الكيمائي.</li>
            <li>10 آﻻف مريض مسجل باﻷنيميا وغيرهم غير مسجلين، يحتاجون نقل دم طوال حياتهم.</li>

            يساعد التبرع على زيادة الدم في نخاع العظم، فهو صحي بالنسبة للمتبرع.
            يتم خضوع المتبرع لفحص طبي شامل، وفحص مخبري على الدم عن مرض إلتهاب الكبدي الوبائي بنوعيه والملاريا. فيعتبر التبرع نوع من أنواع المتابعة الصحية للمتبرع.</p>
          </div>
          <div class="content" id="panel2-2">
            <p>

<li>ان يكون سن المتبرع 18 لـ 65 عاما</li>
<li>وزنه علي الاقل 50 كيلو</li>
<li>للذكور فتره لا تقل عن 3 اشهر(12اسبوع) من اخر عمليه تبرع وللأناث 4 اشهر(16 أسبوع)</li>
<li>مرور فتره 6 شهور بعد عمليات في الاسنان</li>
<li>ان لا يعاني من مشاكل صحيه خطيره او المرأه الحامل</li>
<li>لا يسمح بالتبرع لمرض التهاب الكبد الوبائي,نقص المناعه المكتسب , السيلان و متعاطي المخدرات </li>
<li>يرجي عدم التدخين لمده يوم و يومين من شرب الكحول قبل التبرع حفاظا علي صحه المتبرع</li>
<li>*يمكنك التدخين بعد التبرع بالدم ب 3 ساعات</li>

	    </p>
          </div>
          <div class="content" id="panel2-3">
            <p>
<li>شرب كميه وفيره من السوائل وتناول وجبه صغيره قبل التبرع ب 3 ساعات</li>
<li>لا تتناول ادويه مثل "اسبرين وبروفين" قبل التبرع ب72 ساعه حتي لا تثبت من وظيفه الصفائح الدمويه مما قد يمنع نقل الدم لشخص اخر</li>
<li>شرب قهوه وعصائر منعشه بعد التبرع</li>
	</p>
          </div>
          <div class="content" id="panel2-4">
            <p>ﻟﻌل ﺃﻜﺜﺭ ﺍﻟﻁﺭﻕ ﻓﻌﺎﻟﻴﺔ ﻓﻲ ﺍﺴﺘﺨﺩﺍﻡ ﺍﻟﺩﻡ ﺍﻟﻤﺄﻤﻭﻥ ﺘﺘﻤﺜل ﻓﻲ ﺘﺠﺯﺌﺘـﻪ ﺇﻟـﻰ ﻤﻜﻭﻨﺎﺕ ﻴﻤﻜﻥ ﺘﺤﻀﻴﺭﻫﺎ ﻤﻥ ﺍﻟﺩﻡ ﺍﻟﻜﺎﻤل ﺍﻟﺫﻱ ﻴﺘﻡ ﺍﻟﺘﺒﺭﻉ ﺒـﻪ ﺃﻭ ﺍﻟﺤـﺼﻭل    ﻋﻠﻴﻪ ﺒﺎﻟﻠﺠﻭﺀ ﺇﻟﻰ ﺇﺠﺭﺍﺀﺍﺕ ﺍﻟﻔﺼﺎﺩﺓ .      ﻭﻴﻤﻜﻥ ﺍﺴﺘﺨﺩﺍﻡ ﻭﺤﺩﺓ ﻭﺍﺤﺩﺓ ﻤﻥ ﺍﻟـﺩﻡ ﺍﻟﻜﺎﻤل ﻟﺘﻠﺒﻴﺔ ﺍﺤﺘﻴﺎﺠﺎﺕ ﺃﻜﺜﺭ ﻤﻥ ﻤﺭﻴﺽ ﻭﺍﺤﺩ ﻭﺘﻭﻓﻴﺭ ﺫﻟﻙ ﺍﻟﻤﻜﻭﻥ ﺍﻟـﻼﺯﻡ ﻭﺤﺩﻩ .ﺍﻟﺩﻋﻡ ﻭﺒﺎﻹﻀﺎﻓﺔ ﺇﻟﻰ ﺫﻟﻙ ﻓﺈﻥ ﺘﻭﻓﺭ ﻤﻜﻭﻨﺎﺕ ﺍﻟﺩﻡ ﻴﻔﺴﺢ ﺍﻟﻤﺠﺎل ﻟﺘﻭﻓﻴﺭ ﺍﻟﻌﻼﺠﻲ ﻟﻠﻤﺭﻀﻰ ﺍﻟﻤﺼﺎﺒﻴﻥ ﺒﺤﺎﻻﺕ ﻤﺜل ﺍﻀﻁﺭﺍﺒﺎﺕ ﺍﻟﻬﻴﻤﻭﻏﻠﻭﺒﻴﻥ، ﻭﺘﺨﺜﺭ ﺍﻟﺩﻡ ﻭﻨﹸﻘﻲ ﺍﻟﻌﻅﻡ.         ﻭﻴﻘﺘﻀﻲ ﺃﻱ ﺒﺭﻨﺎﻤﺞ ﻓﻌﺎل ﻟﻤﻜﻭﻨﺎﺕ ﺍﻟ ﻤـﺴﺘﺩﺍﻡ، ﺩﻡ ﻭﺠﻭﺩ ﺒﺭﻨﺎﻤﺞ ﺩﻡ ﻭﻁﻨـﻲ ﻭﻴﺸﻤل ﺫﻟﻙ ﻤﺭﺍﻓﻕ ﻟﻨﻘل ﺍﻟﺩﻡ ﺘﺘﻤﺘﻊ ﺒﺎﻟﺘﻨﻅﻴﻡ ﺍﻟﺠﻴﺩ ﻭﺍﻟﺘﻨﺴﻴﻕ ﻋﻠـﻰ ﺍﻟـﺼﻌﻴﺩ ﺍﻟﻭﻁﻨﻲ، ﻭﻗﺎﻋﺩﺓ ﻤﺴﺘﻘﺭﺓ      ﻤﻥ ﻤﻘﺎﺒـل، ﺍﻟﻤﺘﺒﺭﻋﻴﻥ ﺍﻟﻤﻼﺌﻤﻴﻥ ﺒﺎﻟﺩﻡ ﻤﺠﺎﻨﹰﺎ ﻭﺩﻭﻥ ﻭﻨﹸﻅﻡ ﺍﺨﺘﺒﺎﺭﺍﺕ ﺩﻗﻴﻘﺔ، ﻭﻨﹸﻅﻡ ﻟﻀﺒﻁ ﺍﻟﺠﻭﺩﺓ، ﻭﺁﻟﻴﺔ ﺘﻨﻅﻴﻤﻴﺔ ﻤﻨﺎﺴﺒﺔ .ﻴﺘﻁﻠﺏ ﻭ ﺘﺤﻘﻴﻕ ﺫﻟﻙ ﺍﻻﻟﺘﺯﺍﻡ ﻭﻤـﻭﺍﺭﺩ ﻭﺍﻟﺩﻋﻡ ﻤﻥ ﺠﺎﻨﺏ ﺍﻟﺴﻠﻁﺎﺕ ﺍﻟﺼﺤﻴﺔ ﺍﻟﻭﻁﻨﻴـﺔ ﺒﺸﺭﻴﺔ ﻭﻤﺎﻟﻴﺔ ﻭﺘﻜﻨﻭﻟﻭﺠﻴﺔ ﺇﻀﺎﻓﻴﺔ.   
<br>
White Blood Cells
<br>
Red Blood Cells 
<br>
Platelets 
<br>
Plasma 
<br>
Cryoprecipitated AHF </p>
          </div>
          <div class="content" id="panel2-5">
            <p>المتبرعين والإعاقة هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد يمكن لذوي الحتياجات الخاصه التبرع بالدم وعلي مراكز التبرع بالدم توفير الامكانيات الازمه لهم لتسهيل اشتراكهم في تلك العمليه.</p>
          </div>
          <div class="content" id="panel2-6">
            <p>الأسئلة الشائعة</p>
          </div>
      </div>
      <!-- End of Articles -->
