.bundle
/db/*.sqlite3
/tmp
*.gem
*/**/.DS_Store
*/.DS_Store
.autotest
.DS_STORE
.eprj
.project
.redcar
.rvmrc
.ruby-version
.ruby-gemset
.sass-cache/
.bundler_stubs
.directory
*.swp
app/assets/images/tmp/**/*
app/assets/images/uploads/**/*
config/*.sphinx.conf
config/database.yml
config/application.yml
config/mebla.yml
config/paperclip.yml
config/private_pub.yml
config/tire.yml
config/initializers/quite_assets.rb
coverage
db/*.db
db/schema.rb
db/sphinx/**/*
log/*.log
log/searchd.development.pid
nbproject
nohup.out
public/system/**/*
public/assets
public/*.png
routes.txt
tmp/pids/*
tmp/
typescript
vendor/bundle
generators.txt
coverage
