<!-- Page Title -->
<% title "تعديل بيانات المتبرع" %>

<div class="row register-content">

	<h1>تعديل الحساب</h1>

	<%= render 'form' %>
	
	<!-- Link to User Profile -->
	<%= link_to 'العودة إلى الصفحة الشخصية', @user %>

</div>