<!-- Page Title -->
<% title "تعديل طلب التبرع" %>

<div class="column large-12 sign-up">

	<h1>تعديل حالة التبرع</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @request %> |
	<%= link_to 'Back', requests_path %>

</div>