<!-- Page Title -->
<% title "صفحة الحالة" %>

<div class="request_profile">


  <!-- request Status, No., Bloodtype -->
  <div class="row request-name">

    <!-- Developer Review: request status -->
    <!-- Developer Review: if request is Active -->
    <div class="column small-6 request-active">

    <!-- Developer Review: if request is done -->
    <div class="column small-6 request-done">

     <!-- Developer Review: if request is cancelled-->
    <div class="column small-6 request-cancelled">

    <!-- Developer Review: End of condition -->

      <!-- Developer Review: Request No. -->
      <h1>235123</h1>

      <!-- Developer Review: request Bloodtype -->
      <p>فصيلة الدم: <span>AB+</span></p>

      <!-- Developer Review: hospital address -->
      <p>عنوان المستشفى: <span>مستشفى الجلاء</span></p>

    </div>
  </div>

  <!-- request due date, bloodbags no. , replies no. -->
  <div class="row request-blocks">

    <!-- request Due Date -->
    <div class="column small-4">
      <div class="row">

        <!-- Last Donation Date -->
        <!-- Developer Review: Request Due date -->
        <h1 class="donor_last_date_enabled">
          13/9
        </h1>
      </div>

      <p>مهلة الطلب</p>
    </div>

    <!-- no. of bloodbags -->
    <div class="column small-4">
      <div class="row">

        <!-- Developer Review: # of bloodbags -->
        <h1 class="bloodbags">
          6
        </h1>
      </div>

      <p>
        عدد أكياس الدم
      </p>
    </div>

    <!-- Request replies -->
    <div class="column small-4">
      <div class="row">

        <!-- Developer Review: no. of request replies, -->
        <h1 class="requests_awaiting_enabled">
          <a href="#">
            3
          </a>
        </h1>
      </div>

      <p>
        ردود المتبرعين
      </p>
    </div>

  </div>

<!-- Reply to request, see more details, share request on social media -->
<div class="row">
  <div class="request-options">

    <!-- Developer Review: send reply to request (replace # with link to reply to request) -->
    <a class="button" href="#">تبرع</a>
  </br>

    <!-- Developer Review: if request signed in -->
    <!-- request settings -->
    <a data-dropdown="request-settings" aria-controls="drop1" aria-expanded="false">إعدادات الحساب</a>
    <ul id="request-settings" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">


      <!-- Developer Review: edit info. -->
      <li><a href="#">تعديل البيانات</a></li>

      <!-- Developer Review: if request active -->
      <li><a href="#">تجميد الحساب</a></li>

      <!-- Developer Review: else -->
      <li><a href="#">تفعيل الحساب</a></li>
      <!-- Developer Review: End of if condition -->

    </ul>
    <!-- Developer Review: End of if condition -->

    |
    <!-- Developer Review: link to Request Page for more details -->
    <a href="<!-- Developer Review: Replace with link to page link -->" data-reveal-id="more-request-details">مزيد من التفاصيل</a>

    <div id="more-request-details" class="reveal-modal" data-reveal style="text-align:center;">

      <!-- Developer Review: if user signed in -->
        <!-- Developer Review: Contact Name -->
        <p>الاسم: <span>تجربة</span></p>

        <!-- Developer Review: Contact No. -->
        <p>رقم الهاتف: <span>2t2451145</span></p>

        <!-- Developer Review: Patient Name -->
        <p>اسم المريض: <span>مريض</span></p>

        <!-- Developer Review: Hospital Name -->
        <p>اسم المستشفى: <span>الجلاء</span></p>


      <!-- Developer Review: if user not signed in -->
        <p>عذراً يجب أن تكون مسجلاً في الموقع لاستعراض هذه البيانات.</p>

        <!-- Developer Review: link to sign in -->
        <a href="#" class="button">تسجيل الدخول</a>

        <!-- Developer Review: link to sign up -->
        <a href="#" class="button">تسجيل حساب جديد</a>
      <!-- Developer Review: End -->

      <a class="close-reveal-modal">&#215;</a>
    </div>

    |
    <!-- Social Media share -->
    <div class="social-share">

      <!-- Developer Review: Replace  request_url(r)  with link to request link -->
      <!-- Facebook share -->
      <a href="https://www.facebook.com/sharer/sharer.php?u=request_url(r) "><li class="fa fa-facebook"></li></a>

      <!-- Twitter share -->
      <a href="https://twitter.com/intent/tweet?url=request_url(r)"><li class="fa fa-twitter"></li></a>

      <!-- G+ share -->
      <a href="https://plus.google.com/share?url=request_url(r)"><li class="fa fa-google-plus"></li></a>

    </div>
  </div>
</div>
</div>
