<% title "عن التبرع" %>

      <!-- Articles Navigation Tabs -->
      <dl class="tabs row hor" data-tab>
        <dd class="active column medium-4 large-2 ">
          <a href="#panel2-1">لماذا أتبرع</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-2">شروط التبرع</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-3">الإعداد للتبرع</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-4">مكونات التبرع</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-5">المتبرعين والإعاقة</a>
        </dd>
        <dd class="column medium-4 large-2">
          <a href="#panel2-6">الأسئلة الشائعة</a>
        </dd>
      </dl>
      <!-- End of Articles Navigation Tabs -->

      <!-- Articles -->
      <div class="tabs-content hor">
          <div class="content active" id="panel2-1">
            <p> ببساطة لأنك تنقذ حياة شخص من هؤلاء:

            <li>8 من 10 أشخاص يحتاجون نقل الدم أو أحد مكوناته في دورة الحياة.</li>
            <li>1 من 10 أشخاص في المستشفيات يحتاج إلى نقل دم.</li>
            <li>بعض العمليات الجراحية ﻻ تتم بسبب عدم توافر الدم. "تم عمل دراسة على 2000 سيدة منهم 15٪ توفوا لعدم توافر دم أثناء عملية الوﻻدة."</li>
            <li>أكثر من مليون شخص يعانون من السرطان يحتاجون نقل دم بشكل يومي بسبب العلاج الكيمائي.</li>
            <li>10 آﻻف مريض مسجل باﻷنيميا وغيرهم غير مسجلين، يحتاجون نقل دم طوال حياتهم.</li>

            يساعد التبرع على زيادة الدم في نخاع العظم، فهو صحي بالنسبة للمتبرع.
            يتم خضوع المتبرع لفحص طبي شامل، وفحص مخبري على الدم عن مرض إلتهاب الكبدي الوبائي بنوعيه والملاريا. فيعتبر التبرع نوع من أنواع المتابعة الصحية للمتبرع.</p>
          </div>
          <div class="content" id="panel2-2">
            <p>شروط التبرع هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
          </div>
          <div class="content" id="panel2-3">
            <p>الإعداد للتبرع هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
          </div>
          <div class="content" id="panel2-4">
            <p>مكونات التبرع هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
          </div>
          <div class="content" id="panel2-5">
            <p>المتبرعين والإعاقة هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
          </div>
          <div class="content" id="panel2-6">
            <p>الأسئلة الشائعة</p>
          </div>
      </div>
      <!-- End of Articles -->